:root {
  --primary-color: #2c7f83;
  --secondary-color: #ffa31a;
}

.invoice-app-container {
  margin: 2em 14em;
  min-height: 100vh;
}

.invoice-tab-container {
  margin: 2em 0;
}

body {
  background-color: #f6f6f6;
}

.ui.toggle.checkbox .box::before,
.ui.toggle.checkbox label::before {
  background: #b8365588 !important;
}

@media (max-width: 1600px) {
  .invoice-app-container {
    margin: 2em 10em;
  }
}

@media (max-width: 1500px) {
  .invoice-app-container {
    margin: 2em 6em;
  }
}

@media (max-width: 1400px) {
  .invoice-app-container {
    margin: 2em 2em;
  }
}
